@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-Light.ttf');
	font-weight:200;
}  
@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
} 
@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
	font-weight:bold;
} 
 
@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Light.ttf');
	font-weight:200;
}  
@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
} 
@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
	font-weight:bold;
} 
 

body{margin:0px; font-family: 'roboto'; background-color: #fff !important}
body img {max-width: 100%}
body a, .link{cursor:pointer; color:#5182bb}  
body a:hover, .link:hover{}  

#popup-panel {position:fixed;top:0px;bottom:0px;left:0px;right:0px; display: none; background-color:rgba(0,0,0,0.7); z-index:1000;  vertical-align: middle; } 

.content-wrapper{max-width:1200px; margin:auto; padding:0 2em; }

*:focus {  outline: none !important; }
.user-select-none { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.show-mobile{display:none !important}
.hide-mobile{display:inherit}

.main-panel {position: relative}

/* default table */ 
.div-table{display:table}
.div-table-caption {display: table-caption}
.div-table-caption-3 {display: table-caption; padding: 0.3em}
.div-table-col{display:table-cell; vertical-align:top;}
.div-table-col-5{display:table-cell; padding:0.5em; vertical-align:top;}
.div-table-col-3{display:table-cell; padding:0.3em; vertical-align:top;}
.div-table-row{display:table-row;} 

.page {clear:both; margin-top:1em; list-style:none;margin:0px;padding:0px;text-align:center;  } 
.page li{padding:0.2em 0.5em !important; font-size:0.9em; margin:0 0.3em !important;  text-align:center !important;width:30px;  display:inline-block; }
.page li:hover{ border-bottom: 2px solid #5182bb } 
.page .ellipsis:hover { border-bottom:0 !important;}
.page-active{text-decoration:none !important; border-bottom: 2px solid #5182bb } 
	
.prev-next-page {display:none; padding:0; text-align:center}  
.prev-next-page a > li, .prev-next-page .inactive-prev-next-page {width:22%; background-color:#FFF; border:1px solid #5182bb; color:#5182bb; margin:1% !important;text-decoration:none !important; display:inline-block; padding:0.5em 0;}
.prev-next-page a > li:hover {background-color:#5182bb; color:#fff;}
.prev-next-page .inactive-prev-next-page, .prev-next-page .inactive-prev-next-page:hover { background-color:#FFF !important; border:1px solid #dedede !important;  color:#dedede !important;}
 
.scrollToTop {color:#666 !important; text-decoration:none !important; line-height:1em; text-align:center;  opacity: 0.8 !important; z-index: 999}
.scrollToTop:hover  {color:#dedede !important;  text-decoration:none; opacity: 1}

.scrollToTop .arrow {}
.scrollToTop:hover .arrow {}
.back-to-top {font-size: 4em}
 
.input-date, .input-datetime, .input-month  {background-color:#fff !important; cursor:text !important;}  

input[type].label-style, select.label-style, .input-date.label-style {padding:5px; height: auto; outline-style:none !important ;  border:0 ;  border-bottom:1px solid #ccc;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;  } 
select.label-style {-webkit-appearance:none}
/* or */
.label-style input[type], .label-style select,  .label-style .input-date {padding:5px; height: auto; outline-style:none !important ;  border:0 ;  border-bottom:1px solid #5b3d8f;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;  } 
.label-style select.label-style {-webkit-appearance:none}


/* TEXT COLOR SET */
.text-white {color:#FFF !important;}
.text-green-avocado  {color:#568203 !important;}
.text-red-cardinal  {color:#C41E3A !important;}
.text-yellow-mikado  {color:#FFC40C !important;}
.text-blue-munsell {color:#0093AF !important;}
.text-purple-purpureus{color:#9A4EAE !important;}
.text-black-jet{color:#343434 !important;}
.text-gray-dim{color:#696969 !important}
.text-gainsboro{color:#F00 !important}
.text-cobalt-blue{color:#0047AB !important;} 
.text-red-salmon{color:#c95b5f !important;} 

/* BG COLOR SET */
.bg-green-avocado {background-color:#568203  !important;}
.bg-red-cardinal {background-color:#C41E3A  !important;}
.bg-red-salmon {background-color: #c95b5f !important}
.bg-yellow-mikado {background-color:#FFC40C  !important;}
.bg-blue-munsell {background-color:#0093AF  !important ;}
.bg-blue-steel {background-color:#4682b4  !important ;}
.bg-purple-purpureus{background-color:#9A4EAE !important;} 
.bg-gray-dim{background-color:#696969 !important;} 
.bg-silver{background-color:#C0C0C0 !important;} 
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* BOOTSTRAP OVERRIDE */
.container {width:100%; padding: 0 !important}
.nav {width:100%}
.navbar {border-radius: 0 ; margin-bottom:0 ;}
.navbar-collapse { padding: 0; text-align: center}

.navbar-nav {margin: 0 } 
.navbar-nav>li {  display: inline-block; float:none;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-text {color: #fff;} 
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {color: #fff;  background-color: #666 }
.navbar-nav .dropdown:hover{background-color: #06ef3b; }
.navbar-nav .dropdown:hover a{color: #000 !important }
.navbar-nav .dropdown a {  font-size: 0.85em; color:#fff;} 
.navbar-nav .dropdown a:hover {text-decoration: none; }
.navbar-nav .dropdown a:hover li{text-decoration: none; background-color: #999}
.navbar-nav .dropdown-menu { padding: 0em; border-radius: 0; min-width:20em; background-color: #666; background-clip:inherit } 
.navbar-nav .dropdown-menu li{width: 100%; display: block; float:none; }
.navbar-nav .dropdown-menu li a {padding: 0.8em;} 
.navbar-nav .divider{border-top:1px solid #666;}

.navbar-default {border:0 ; background-color: #333 }

.navbar-header > .company-logo {margin-left: 1em; margin-top: 0.35em; min-width: 8em; height:3em;}
.navbar-header .menu-icon {padding: 0; margin: 0; margin-top:1em; font-size: 0.8em;  } 
.navbar-header .menu-icon a li {font-size: 2em; margin-top: 0.2em; color: #fff; margin-right: 0.5em;} 
.navbar-header li { float:right; text-align: center; display: inline-block; font-size:1.5em; padding: 0.5em 0; border-radius: 0.2em }
.navbar-header .fa-unlock-alt, .navbar-header .fa-lock {padding: 0.35em 0; font-size: 1.7em}

.navbar-toggle {border:0px ; margin-top: 0.8em  }
.navbar-toggle:hover {background-color: #dedede ; }
.navbar-toggle .icon-bar {background-color: #000  } 

.navbar-nav .single-level {border:0}
.navbar-nav .open .dropdown-menu>li {background-color:#666;} 
.navbar-nav .open .dropdown-menu>li>a {color:#fff !important; text-decoration: none ; }  
.navbar-nav .open .dropdown-menu>li:hover>a {background-color:#777;}  

.form-control:focus { border-color: inherit !important;  -webkit-box-shadow: none !important;  box-shadow: none !important;} 

.form-horizontal .control-label {text-align: left}
 
/* BOOTSTRAP OVERRIDE */
 
.auto-complete.flex-container {padding: 0;margin: 0; list-style: none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around;}
.auto-complete .flex-item{padding: 0; margin: 0}
.auto-complete .textbox{flex-grow: 1} 
.auto-complete .add-button {cursor: pointer; padding-top: 0.1em; font-size: 1.8em !important; margin: 0 0.2em; width: 20px; text-align: center; color: #428bca; border:0px; border-radius: 4px }#; border-color: #3F9BC8
.auto-complete .add-button:hover {color: #3276b1} 
.auto-complete li {position: relative}
.auto-complete .fa-sistrix {position: absolute; top: 0.6em; right: 0.8em; font-size: 1.2em; color: #666}

.flex {display: flex; align-items:center}
.flex [type="checkbox"] {margin-top:0 !important} 
.flex > div {margin-right: 0.5em}
.flex > div:last-child{margin-right: 0}
.flex .consume {flex:1}  
 
.ui-autocomplete-loading {background: white url(../include/img/loading.gif) right center no-repeat !important; background-position:calc(100% - 2em)  !important;}
.ui-autocomplete {max-height: 100px; overflow-y: auto; overflow-x: hidden; font-size:0.8em !important;}   
.ui-dialog-buttonpane button {font-size:0.8em !important; }
.ui-dialog-buttonpane {padding:0 !important; }

.ui-autocomplete .ui-menu-item {font-size: 1.2em; padding: 0} 
.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {padding: 0.5em 1em; border:0}

.mobile-menu {display: inline-block; float:left; padding: 0.5em} 

/* ============================ SCROLL TO TOP ========================= */  
/* core */
.scrollToTop {position: fixed;right: 20px ;bottom: -5em;opacity: 0;overflow: hidden;outline: none;} 
.scrollToTop_show {opacity: 1;bottom: 20px;} 
@-webkit-keyframes scrollToTop_fade {0%	 {opacity: 0;}100% {opacity: 1;}}
@keyframes scrollToTop_fade {0%   {opacity: 0;}100% {opacity: 1;}}
@-webkit-keyframes scrollToTop_slide {0%   {bottom: -100px;}100% {bottom: 20px;}}
@keyframes scrollToTop_slide {0%   {bottom: -100px;}100% {bottom: 20px;}}
 
.scrollToTop_animating,.scrollToTop_animating * {pointer-events: none !important;}

.scrollToTop {width: 50px;height: 50px;color: #000; font-size: 12px;text-decoration: none;text-transform: uppercase;text-indent: 100%;white-space: nowrap;background: no-repeat center center transparent;}
.scrollToTop_default {display: block;width: auto;height: auto;padding: 10px;text-indent: 0; border-radius: 10px;}
.scrollToTop_default:hover {}

/* skin(cycle) */
.scrollToTop_cycle {background-image: url("../img/cycle.png");}
.scrollToTop_cycle:hover {background-image: url("../img/cycle-hover.png");}

/* skin(square) */
.scrollToTop_square {background-image: url("../img/square.png");}
.scrollToTop_square:hover {background-image: url("../img/square-hover.png");}

/* skin(text) */
.scrollToTop_text {background-image: url("../img/text.png");}
.scrollToTop_text:hover {background-image: url("../img/text-hover.png");}

/* skin(triangle) */
.scrollToTop_triangle {background-image: url("../img/triangle.png");}
.scrollToTop_triangle:hover {background-image: url("../img/triangle-hover.png");}
/* ============================ SCROLL TO TOP ========================= */ 


/* ============================= CONTENT ============================== */

/* === rarely change === */

.scroll-to-top {cursor:pointer; background-position:0px -25px; }  
.notification-msg{color:#fff; padding:0.3em 0; border-radius: 0.5em; margin: 0.5em 0}
.notification-msg > ul{margin:0; padding:0; padding-left:2em; list-style: none; padding: 0 0.5em; margin: 0} 
.btn-primary .loading-icon{display: none}   
.free-page img{max-width: 100% !important; height: auto !important;}
.free-page .content-wrapper {position: relative; top: 5em}
.g-recaptcha > div {margin: auto}

#btn-side-menu {display: none; z-index: 998; position: fixed; left: 0.3em; top: 0.25em; font-size: 1.6em;  color: #fff; background-color:#e9943a; width:40px; height: 40px; text-align: center; line-height: 1.9em; border-radius: 25em }

#side-menu.mm-menu {color: #fff; background-color: #00b14f;}
#side-menu .side-menu li {color: #fff;}
#side-menu .selected {background: rgba(255, 255, 255, 0.2)}
#side-menu .mm-listview > li:not(.mm-divider):after {border: 0}
#side-menu .side-menu li:hover:not(.divider), #side-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {background: rgba(255, 255, 255, 0.2)}
#side-menu .mm-listview > li > a.mm-prev:before, #side-menu .mm-listview > li > a.mm-next:after, #side-menu .mm-header .mm-btn:before, .mm-menu .mm-header .mm-btn:after {border-color: #fff} 
#side-menu .mm-header .mm-title{color: #fff} 
#side-menu .side-menu li a{color: #fff !important}
.side-menu-logo {margin-bottom: 2em;  height: 8em; width:100%; position: absolute; top: 0; left: 0; background-size: contain; background-repeat: no-repeat; background-position: left center;background-image: url(../img/img-39.png)}

/*
.haAclf {display:inherit !important; border:1px solid #f00;}
.g_id_signin iframe, .g_id_signin #container [role="button"] {width:100% !important; border:1px solid #333;}
 */
.g_id_signin iframe {margin:auto !important; position:inherit !important; float:none !important;  }
.g_id_signin{  width: 100%;}  


/* === change here === */
.btn-primary {width: 100%; background-color: #608e52; border:1px solid #608e52; border-radius: 0; color: #fefffe }
.btn-primary:hover {background-color: #02aa4d; border:1px solid #02aa4d}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{background-color: #999; border-color: #999;}

.header-menu{position:relative; font-family: "poppins"} 
.header-menu .medsos-panel {float: right; padding: 0; margin: 0; list-style: none; margin-right: 1em}
.header-menu .medsos-panel li {float:left; display: inline-block; font-size: 1.2em; margin-right: 1em; padding-top: 0.4em} 
.header-menu .login-menu {float: right; margin-right: 1em; color: #fff; position: relative; padding: 0.6em 1em 0.4em 1em;}
.header-menu .login-menu a:hover{text-decoration: underline !important;}
.header-menu .login-menu i {margin-right: 0.2em; color : #fff; font-size: 1.2em; }

.fixed-header {position: fixed; top:0; width: 100%; z-index: 999; background-color: #02aa4d} 
.dummy-header {height: 2.4em; } /* utk halaman selain index */

.top-menu-bar { color :#fff; width:100%; float: left}  
.top-menu-bar a, .top-menu-bar a:active, .top-menu-bar a:link  { color: #fff ; text-decoration: none}  
.top-menu-bar .highlight a, .top-menu-bar .highlight a:hover, .top-menu-bar .highlight a:active, .top-menu-bar .highlight a:link  {  color :#0093AF; }

.subsec-profile {cursor: pointer; background-color: #049243; }
.subsec-profile i {color: #fff}
.subsec-profile .profile-sub-menu { cursor: inherit; padding: 0.5em 0.5em 0em 0.5em;  border-top:0; text-align: center; display: none; position: absolute; right: 0; top: 2.3em; width: 100%; min-width: 10em; background-color: #049243}
.subsec-profile .profile-sub-menu ul {list-style: none; padding: 0; margin: 0}
.subsec-profile .profile-sub-menu ul li .item{margin-bottom: 0.5em; padding: 0.2em; width: 100%}
.subsec-profile .profile-sub-menu a:hover  {text-decoration: none !important; background-color: #F00;}
.subsec-profile .profile-sub-menu ul li:hover .item {background-color: #07823b; border-radius: 0.2em}

.main-menu { float: left; list-style:none;  padding:0; margin:0; margin-left: 1em; font-size: 1em }
.main-menu > li { margin:0; display:inline-block; float:left; margin:0.5em 1em 0 1em; border-bottom: 0.5em solid transparent } 
.main-menu .selected  a {border-bottom: 0.5em solid #FFF;}

.menu-right {float: right; margin-top: 2.3em}
 
.company-logo { margin-left: 1em; height:3em;  width:10em; float:left; background-size: contain ; background-repeat: no-repeat; background-position: center;  }
.subsec-logo{width: 15em; height: 5em;   background-size: contain ; background-repeat: no-repeat; background-position:center;background-image: url(../img/img-04.png)}
.subsec-logo-2 {width: 200px; max-width: 100%; height: 100px; position: absolute; left: 0; top: 0;  background-size: contain ; background-repeat: no-repeat; background-position: top left;background-image: url(../img/img-39.png)}

#terms-and-conditions .subsec-logo-2, #how-to-join .subsec-logo-2, #faq .subsec-logo-2 {left: 2em;}

.header-sec {position: relative; background-color: #fff; }
.header-sec .content-wrapper {height: 100%; position: relative; padding: 0}
.header-sec .subsec-01 {width: 25em; height: 10em;  position: absolute;  z-index: 1; bottom: -5em; left: 2em; background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-04.png) }

.what-is {font-family: "poppins"; font-size: 1.4em;  position: relative; background-color: #fff; color: #02aa4d; text-align: center; padding: 6em 0 2em 0; background-size: cover ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-27.png) }
.what-is .content-panel {position: relative; z-index: 1; max-width: 30em; margin: auto} 
/*.what-is .subsec-01 {width: 5em; height: 10em; position: absolute; right: 1.5em; top: 2em;  background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-22.png)}*/
.what-is .subsec-03 {width: 20em; height: 13em; position: absolute; z-index: 1; top: -5em; right: 0em; background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-03.png) }
.what-is .title { display: inline-block; margin-bottom: 1em;  font-size: 1.5em; font-weight: bold; padding: 0 2em;  background-image: url(../img/img-26.png), url(../img/img-26.png); background-position: left,right; background-size:auto,auto;  background-repeat: no-repeat, no-repeat;}

.period-sec {font-family: "poppins";  position: relative; color: #02aa4d; text-align: center; padding: 5em 0;}
.period-sec .title {display: inline-block; margin-bottom: 1em;  font-size: 2.2em; font-weight: bold; padding: 0 2em;  background-image: url(../img/img-26.png), url(../img/img-26.png); background-position: left,right; background-size:auto,auto;  background-repeat: no-repeat, no-repeat;}
.period-sec .content-panel {position: relative; z-index: 1;margin: auto}
.period-sec .subsec-02 {width: 100%;  height: 25em; position: absolute; left: 0; bottom: 0em;  background-size: contain, contain ; background-repeat: no-repeat,no-repeat; background-position: left,right;background-image: url(../img/img-31.png),url(../img/img-32.png)}
.period-sec .subsec-03 {width: 3em; height: 3em; position: absolute; left: -0.6em; top: -1.5em;  background-size: contain ; background-repeat: no-repeat; background-position: left bottom;background-image: url(../img/img-28.png)}
.period-sec .subsec-04 {width: 100%; height: 25em; background-size: contain ; background-repeat: no-repeat; background-position: center; background-image: url(../img/img-30b.png)}
.period-sec .subsec-05 {margin-bottom:1em; font-size: 2em; font-weight: bold;}
.period-sec .period-table {width: 100%; margin: 0; padding: 0;  list-style: none}
.period-sec .period-table li {float: left; width: 33%; position: relative}
.period-sec .period-table li .content-panel {width: 94%; font-size: 1.2em; height: 100%; margin: auto;  color:#fff; background: rgb(112,179,13); background: linear-gradient(180deg, rgba(112,179,13,1) 0%, rgba(81,161,77,1) 100%); padding: 1em; border-radius: 0.5em}
.period-sec .subtitle {font-size: 1.5em; margin: 1.2em 0}

.how-to {position: relative;  font-size: 1.4em;  background-color: #FFD200; color: #02aa4d; text-align: center; padding: 2em 0;  background-size: contain,contain; background-repeat: no-repeat,no-repeat; background-position: top center, bottom center;background-image: url(../img/img-35.png), url(../img/img-37.png)}
.how-to .content-panel {position: relative; z-index: 1; max-width: 30em; margin: auto}
.how-to .div-table {text-align: left} 
.how-to .div-table .div-table-row > .div-table-col-5 .bullets {color:#02aa4d; background-color: #fff; border-radius: 50%; width:1.4em; height: 1.4em; text-align: center}
.how-to .title {display: inline-block; position: relative; color: #fff; margin-bottom: 1em;  font-size: 1.8em; font-weight: bold; padding: 0 2em;  background-image: url(../img/img-26.png), url(../img/img-26.png); background-position: left,right; background-size:auto,auto;  background-repeat: no-repeat, no-repeat;}
.how-to .subsec-01 {width: 5em; height: 10em; position: absolute; right: 1.5em; top: 2em;  background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-34.png)}
.how-to .subsec-02 {width: 2em; height: 2em; position: absolute;  background-size: contain ; top: 0.5em; left: 2em; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-36.png)}
.how-to .product-list {position: relative; background-color: #fcf3cd; border: 5px solid #02aa4d; padding: 1em}
.how-to .product-list .subtitle {background-color: #FFD200; padding: 0.5em; border-radius: 0.5em; font-weight: bold; margin-bottom: 1em}
.how-to .items {list-style: none; padding: 0; margin: 0; }
.how-to .items li {float: left; display: inline-block; width: 33%;  margin-bottom: 1em}
.how-to .items li.col-2 { width: 50%;}
.how-to .items li .content-panel {width: 96%; margin: auto;}
.how-to .items li .image {width: 100%; height: 10em; font-size: 1.1em;  background-size: contain ; background-repeat: no-repeat; background-position:center; }
.how-to .items li.col-2 .image { height: 6em;}
.how-to .items li .desc-01 {font-weight: bold; font-size: 1em}
.how-to .items li .desc-02 {font-weight: bold; font-size: 0.9em}
.how-to .items li .desc-03 {font-size: 0.7em} 

.how-to a {color: #02aa4d; text-decoration: underline}

.see-more {position: relative; background-color: #fff; text-align: center; padding: 10em 0 5em 0; background-size: contain ; background-repeat: no-repeat; background-position: bottom;background-image: url(../img/img-38.png)}
.see-more .content-panel {position: relative; z-index: 1; max-width: 700px; margin: auto;}
.see-more .subsec-01 {width: 18em; height: 6em; position: absolute; left: 10%; top: 3em;  z-index: 2;  background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-04.png)}
.see-more .subsec-02 {width: 30em; max-width: 100%; height: 30em; position: absolute; right: 0em; top: 0em;  background-size: contain ; background-repeat: no-repeat; background-position: top right;background-image: url(../img/img-12.png)}
.see-more a.button {border-radius: 5em; border:1px solid #fff; color: #fff; padding: 0.5em 1em; margin: 0 0.5em}
.see-more a:hover {text-decoration: none}
.see-more a:hover.button {background-color: #ba3026; border:1px solid #ba3026}
.see-more .video {margin: auto; clear:both; height: 450px; width: 660px}

.footer {background-color: #00AA4E; color: #FFFFFF; padding: 4em 2em; font-family: "poppins"; position: relative;}
.footer .footer-logo {width: 20em; height: 10em; position: absolute; left: 0.5em; top: -0.1em;  background-size: contain ; background-repeat: no-repeat; background-position: left top;background-image: url(../img/img-39.png)}
.footer .menu  {float: right;}
.footer .menu  a {color:  #fff}
.footer .menu .col-2 { width: 12em; margin-right: 0.5em; float: left}
.footer .menu ul {list-style: none; padding: 0; margin: 0;}
.footer .menu ul li {margin-bottom: 0.5em}

.footer .medsos-panel li {float:left; display: inline-block; font-size: 1.5em; margin-right: 1em}
.footer .medsos-panel li:last-child {margin-right: 0}

.min-page-height {min-height: 80vh}

#how-to-join {position: relative;  font-size: 1.4em;  background-color: #FFD200; color: #02aa4d; text-align: center; background-size: contain,contain; background-repeat: no-repeat,no-repeat; background-position: top center, bottom center;background-image: url(../img/img-35.png), url(../img/img-37.png)}
#how-to-join .content-panel {position: relative; z-index: 1; max-width: 30em; margin: auto}
#how-to-join .div-table {text-align: left} 
#how-to-join .div-table .div-table-row > .div-table-col-5 .bullets {color:#fff; background-color: #02aa4d; border-radius: 50%; width:1.4em; height: 1.4em; text-align: center}
#how-to-join .title {display: inline-block;width: 100%; text-align: left;  position: relative; color: #fff; margin-bottom: 0.3em;  font-size: 2em; font-weight: bold;}
#how-to-join .subsec-01 {width: 5em; height: 10em; position: absolute; right: 1.5em; top: 2em;  background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-34.png)}
#how-to-join .subsec-02 {width: 2em; height: 2em; position: absolute;  background-size: contain ; top: 0.5em; left: 2em; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-36.png)}
#how-to-join .product-list {position: relative; background-color: #fcf3cd; border: 5px solid #02aa4d; padding: 1em}
#how-to-join .product-list .subtitle {background-color: #FFD200; padding: 0.5em; border-radius: 0.5em; font-weight: bold; margin-bottom: 1em}
#how-to-join .items {list-style: none; padding: 0; margin: 0; }
#how-to-join .items li {float: left; display: inline-block; width: 33%;  margin-bottom: 1em}
#how-to-join .items li.col-2 { width: 50%;}
#how-to-join .items li .content-panel {width: 96%; margin: auto;}
#how-to-join .items li .image {width: 100%; height: 10em; font-size: 1.1em;  background-size: contain ; background-repeat: no-repeat; background-position:center; }
#how-to-join .items li.col-2 .image { height: 6em;}
#how-to-join .items li .desc-01 {font-weight: bold; font-size: 1em}
#how-to-join .items li .desc-02 {font-weight: bold; font-size: 0.9em}
#how-to-join .items li .desc-03 {font-size: 0.7em} 

#how-to-join a {color: #02aa4d; text-decoration: underline}

/*
#how-to-join .main-panel {background-color: #83a770; font-family: "poppins" }
#how-to-join .content-panel {position: relative; font-size: 1.4em;  color: #fff; padding: 5em 0; z-index: 1}
#how-to-join .title {font-size: 2em; color: #D9E021;font-weight: bold}
#how-to-join .items {list-style: none; padding: 0; margin: 0; display: inline-block; }
#how-to-join .items li {float: left; display: inline-block; margin: 0.5em;}
#how-to-join .items li .point {color: #D9E021; background-color: #843f8f; padding: 0.3em 0.5em 0 0.5em; display: inline-block; float: right}
#how-to-join .item-content-panel {width: 12em;}
#how-to-join .items li .image-panel { width: 100%; height: 12em; padding: 0.3em; background-color: #fff; border:5px solid #843f8f }
#how-to-join .items li .image {width: 100%; height: 100%;  background-size: contain ; background-repeat: no-repeat; background-position:center; }
#how-to-join a {color: #843f8f}  

#how-to-join .point-calc  {margin: 0; padding: 0.5em; list-style: none; background: rgba(0, 0, 0, 0.1); border-radius: 0.5em; }
#how-to-join .point-calc li {width: 50%; float: left; padding: 1em; display: inline-block; float::left}
#how-to-join .subsec-point-01 {width: 10em; height: 10em;margin: auto;margin-bottom: 1em;  background-size: contain ; background-repeat: no-repeat; background-position:left bottom;background-image: url(../img/img-23.png)}
#how-to-join .subsec-point-02 {width: 10em; height: 10em;margin: auto;margin-bottom: 1em;  background-size: contain ; background-repeat: no-repeat; background-position:left bottom;background-image: url(../img/img-24.png)}

#how-to-join .steps {width: 100%}
#how-to-join .steps .numbering {width: 2em; text-align: center; background-size: contain; background-repeat: no-repeat;background-position: center 0.3em;}

#how-to-join .subsec-01 img {width:8em; margin-right: 2em}
#how-to-join .subsec-02 {width: 5em; height: 10em; position: absolute; right: 1.5em; top: 2em;  background-size: contain ; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-09.png)}
#how-to-join .subsec-03 {width: 100%; height: 30em;  position: absolute; left: 0em; bottom: 0em;  background-size: contain ; background-repeat: no-repeat; background-position:left bottom;background-image: url(../img/img-13.png)}

#how-to-join .item-name {text-align: center; margin-top: 1em; font-size: 0.9em}*/

#popup-login {width: 100%; height: 100%;}
#popup-login > .div-table-row > .div-table-col {vertical-align: middle;}
#popup-login .close-icon {position: absolute; right: 0.6em; top: 0.4em; font-size: 2em; cursor: pointer; color: #999}
#popup-login .content-panel { background-color: #fefffe; width: 55em; height: 30em; margin: auto; border-radius: 2em; padding:3em; position: relative; z-index: 1}
#popup-login .content-panel .img { position: relative; z-index: 1;  height: 100%; width:55%; float: left; background-size: contain ; background-repeat: no-repeat; background-position: center;background-image: url(../img/img-02b.png)}
#popup-login .content-panel .login-form { position: relative; z-index: 1; width: 300px;  float: right; }
#popup-login .content-panel .login-form input {padding:5px; height: auto; outline-style:none !important ;  border:0 ;  border-bottom:1px solid #666;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;}
#popup-login .title {font-weight: bold; text-align: center; font-size: 2em}
#popup-login a {color: #333; text-decoration: underline}

#contact-us .content-panel{padding: 1em 3em 3em 3em; margin: auto; font-size: 1.2em; width:100vw; height: 100vh; min-height: 40em; background-size: cover; background-repeat: no-repeat; background-position:center; background-image: url(../img/img-16.png)}
#contact-us .subsec-01 {display: none}
#contact-us .form-panel{min-width: 30em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)}  
#contact-us .title {font-weight: bold; font-size: 3em; color: #02aa4d}
#contact-us ul {list-style: none; padding: 0; margin: 0; }
#contact-us .msg-list li {margin-bottom:0.5em;}
#contact-us .medsos a{color:#333; }
#contact-us .medsos li{margin-right: 1em; display: inline-block; float: left; font-size: 2em;}
#contact-us .medsos li:last-child{margin-right: 0}
#contact-us .medsos a:hover{color: #5b3d8f}

#lucky-draw {background-size: contain; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-44.png)}
#lucky-draw .lucky-list {padding:0; margin:0; list-style:none; width:96%; margin:auto;}
#lucky-draw .lucky-list li {width: 25%; float:left; display:inline-block;  word-wrap: break-word; margin-bottom:0.5em;}
#lucky-draw .lucky-list li .content-panel {width: 96%; margin:auto; background-color:#fff; border:1px solid #02aa4d; border-radius: 0.2em; margin-bottom:0.5em; padding:0;}
#lucky-draw .lucky-list li .content-panel .code {font-size: 1.5em; border-left: 0.5em solid #02aa4d; padding-left: 0.5em; margin-bottom:0.5em; margin-top:0.5em;}
#lucky-draw .lucky-list li .content-panel .point {font-size: 1em; padding:0.5em;}

#lucky-draw .side-panel {width: 20em;}
#lucky-draw .side-panel .title {font-size:3em;  color: #02aa4d; line-height: 1.3em; font-weight: bold;}
#lucky-draw .side-panel .tag {color: #02aa4d; }
#lucky-draw .subsec-02 {margin-top:5em;}
#lucky-draw .search-voucher {width: 70%; padding: 1em; margin:auto; position:relative;}
#lucky-draw .txt-search {border-radius:5em; padding-left: 3em;}
#lucky-draw .search-icon {position:absolute; left: 1.3em; top: 1.25em; width:2em; height:2em;  background-color:#02aa4d; border-radius:50%;  text-align:center;} 
#lucky-draw .search-icon i {color:#fff; font-size: 1.2em; position:relative;  top: 0.3em;}

/*#upload-receipt {background-color: #cbcccb}
#upload-receipt .content-panel{padding: 3em;  margin: auto; background-size: contain; background-repeat: no-repeat; background-position:right; background-image: url(../img/img-18.png);}
#upload-receipt .form-panel{width: 30em; min-height: 50em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)} 

#upload-receipt .title {font-weight: bold; font-size: 3em; color: #5b3d8f;line-height: 1em}

*/

#login, #forgot-password, #registration, #resend-activation, #profile, #upload-receipt {background-color: #fff}
#login .content-panel, #forgot-password .content-panel, #registration .content-panel, #resend-activation .content-panel, #profile .content-panel, #upload-receipt .content-panel, #lucky-draw .content-panel{padding: 1em 3em 3em 3em; margin: auto;}
#login .form-panel, #forgot-password  .form-panel, #registration  .form-panel, #resend-activation  .form-panel, #profile  .form-panel, #upload-receipt  .form-panel{float:left; width: 45%; max-width: 30em; padding: 0 2em 2em 2em; background: rgba(255, 255, 255, 0.7)} 
#login .subsec-02, #forgot-password .subsec-02, #registration .subsec-02, #resend-activation .subsec-02, #profile .subsec-02, #upload-receipt .subsec-02 {float:left; width: 50%;}
#login .title, #forgot-password .title, #registration .title, #resend-activation .title, #profile .title, #upload-receipt .title {font-weight: bold; font-size: 3em; color: #02aa4d}
#login a, #forgot-password, #registration a, #resend-activation a , #profile a, #upload-receipt a {color :#608e52}

#upload-receipt [name=btnSave] {background-color: transparent; border: 0; width: 10em; height: 3em; float: right;  background-size: contain ; background-repeat: no-repeat; background-position:center;background-image: url(../img/img-19.png)}
#upload-receipt [name=btnSave]:active{ outline: 0; -webkit-box-shadow: none;  box-shadow: none;}
#upload-receipt .tag { font-size: 1.4em} 
#upload-receipt .label-color {color: #02aa4d;}

#upload-receipt .subsec-03 {padding: 2em 0; font-size: 1.2em; color: #C41E3A;}
#upload-receipt .subsec-03 ul {padding-left:1em}
#upload-receipt .subsec-04 {display: none}


/*
#forgot-password {background-color: #fff} 
#forgot-password  .content-panel{padding: 3em; min-height: 50em; margin: auto; background-size: contain; background-repeat: no-repeat; background-position:right; background-image: url(../img/img-18.png);}
#forgot-password  .form-panel{width: 30em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)} 
#forgot-password  .title {font-weight: bold; font-size: 3em; color: #608e52}
#forgot-password  .btn-primary {width: 100%; background-color: #608e52; border:1px solid #608e52; border-radius: 0; color: #fefffe }
#forgot-password  a {color :#608e52}*/

/*#registration {background-color: #cbcccb} 
#registration .content-panel{padding: 3em; min-height: 50em; margin: auto; background-size: contain; background-repeat: no-repeat; background-position:right; background-image: url(../img/img-18.png);}
#registration .form-panel{width: 30em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)} 
#registration .subsec-01{width: 15em; height: 5em;   background-size: contain ; background-repeat: no-repeat; background-position:center;background-image: url(../img/img-04.png)}
#registration .title {font-weight: bold; font-size: 3em; color: #608e52}
#registration .btn-primary {width: 100%; background-color: #608e52; border:1px solid #608e52; border-radius: 0; color: #fefffe }
#registration a {color :#608e52}*/

/*#profile {background-color: #cbcccb} 
#profile .content-panel{padding: 3em; min-height: 50em; margin: auto; background-size: contain; background-repeat: no-repeat; background-position:right; background-image: url(../img/img-18.png);}
#profile .form-panel{width: 30em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)} 
#profile .subsec-01{width: 15em; height: 5em;  max-width: 100%;  background-size: contain ; background-repeat: no-repeat; background-position:center;background-image: url(../img/img-04.png)}
#profile .title {font-weight: bold; font-size: 3em; color: #608e52}
#profile .btn-primary {width: 100%; background-color: #608e52; border:1px solid #608e52; border-radius: 0; color: #fefffe }
#profile a {color :#608e52}*/

/*#resend-activation {background-color: #cbcccb} 
#resend-activation  .content-panel{padding: 3em; min-height: 50em; margin: auto; background-size: contain; background-repeat: no-repeat; background-position:right; background-image: url(../img/img-18.png);}
#resend-activation  .form-panel{width: 30em; float:left; padding: 2em; background: rgba(255, 255, 255, 0.7)} 
#resend-activation  .subsec-01{width: 15em; height: 5em;  max-width: 100%;  background-size: contain ; background-repeat: no-repeat; background-position:center;background-image: url(../img/img-04.png)}
#resend-activation  .title {font-weight: bold; font-size: 3em; color: #608e52}
#resend-activation  .btn-primary {width: 100%; background-color: #608e52; border:1px solid #608e52; border-radius: 0; color: #fefffe }
#resend-activation  a {color :#608e52}*/


#faq, #terms-and-conditions {background-color: #fff; background: rgb(202,239,217); background: linear-gradient(90deg, rgba(202,239,217,1) 0%, rgba(255,255,255,1) 49%);}
#faq .content-panel{padding: 1em 3em 3em 3em; min-height: 50em; margin: auto;}
#faq .index-panel {width: 30%; max-width: 20em;}
#faq .title {font-weight: bold; font-size: 2em; color: #02aa4d}
#faq .tag { font-size: 1.5em; color: #02aa4d; margin-bottom: 1em}
#faq .faq-index {font-size: 1.2em; padding: 0; margin: 0; margin-left: 1em}
#faq .faq-index li {margin-bottom: 1em; cursor: pointer} 
#faq .faq-index li:hover {color: #608e52;}

#faq .faq-detail {list-style: none;}
#faq .faq-detail .question {font-size: 1.5em; color: #02aa4d; font-weight: bold; margin-bottom: 1em}
#faq .faq-detail .answer {font-size: 1.3em; line-height: 2em;}

.faq-table-sample {line-height:1.5em; font-size:0.9em;}
.faq-table-sample tr td {padding: 0.5em; vertical-align:middle;} 
.faq-table-sample .img-panel img {max-height:100%; max-width:100%;}

#terms-and-conditions{ background-size: cover ;  background-repeat: no-repeat; background-position:top center;background-image: url(../img/img-42.png),linear-gradient(90deg, rgba(202,239,217,1) 0%, rgba(255,255,255,1) 49%)}
#terms-and-conditions .title {font-weight: bold; font-size: 2em; color: #02aa4d;}
#terms-and-conditions .tc-table {width: 100%}
#terms-and-conditions .tc-table > .div-table-row > .div-table-col-5:first-child {width: 20em; position: relative}
#terms-and-conditions .tc-table > .div-table-row > .div-table-col-5:first-child img {position: absolute; bottom: 0} 
#terms-and-conditions .tc-table .content-col ol > li {line-height: 2.5em}

#member-point{ background-size: cover ;  background-repeat: no-repeat; background-position:top center;background-image: url(../img/img-42.png),linear-gradient(90deg, rgba(202,239,217,1) 0%, rgba(255,255,255,1) 49%)}
#member-point .content-panel {text-align: center; padding-top: 7em}
#member-point .label-01 {color :#02aa4d; font-size: 2em; }
#member-point .label-02 {color :#02aa4d; font-size: 1.2em; width: 20em; margin: auto; max-width: 96% }
#member-point .point {background-color: #02aa4d; color :#fff; border-radius: 50%; width: 2.5em; height: 2.5em; margin: auto; font-size: 7em; text-align: center; line-height: 2.5em}

#activation  {text-align: center}

/* 

#faq a {color :#333}

#faq .faq-detail {margin: 0; padding: 0; list-style: none}
#faq .faq-detail > li {margin-bottom: 2em}
*/

#upload-history { background-size: contain ;  background-repeat: no-repeat; background-position:bottom right;background-image: url(../img/img-27.png),linear-gradient(90deg, rgba(202,239,217,1) 0%, rgba(255,255,255,1) 49%)}
#upload-history .result-table {margin: auto; width: 55em !important; max-width: 96%}
#upload-history .result-table .col-header .div-table-col-3{border-bottom: 1px solid #999;}
#upload-history .result-table .div-table-row:nth-child(2n+2) {background-color:#f6f6f6}
#upload-history .result-table .cancel-status {color:#999}

#upload-history .result-table-mobile {list-style: none;padding: 0; margin: 0;}
#upload-history .result-table-mobile li { padding: 0.5em; width: 96%; margin-bottom: 0.5em; color:#333;  border-bottom: 1px solid #dedede}
#upload-history .result-table-mobile li .title {font-weight: bold; font-size: 1.5em}
#upload-history .result-table-mobile .cancel-status {color:#999}

.change-password-panel {display: none}
.change-password {cursor: pointer; color: #02aa4d; font-size: 0.9em; position: relative; top: -0.5em; display: inline-block; margin-left: 0.3em}

.qq-upload-button {background-color: #608e52} 
.qq-upload-button:hover {background-color: #02aa4d} 
.qq-upload-list {list-style: none; padding: 0; margin: 0; }
.qq-upload-list li {margin-top: 0.3em}

.item-image-uploader .image-list {list-style: none; margin: 0; padding: 0; }
.item-image-uploader .image-list li {border:1px solid #dedede; border-radius: 0.5em; float: left; display: inline-block; background-color: #fff; padding: 0.5em}

.fb-login  {width:275px; margin:auto; background-color: #314e89; border-radius: 0.3em; text-align: center; color :#fff;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;  } 
.fb-login div {padding: 0.5em}
.fb-login:hover {background-color: #3c5fa9; }
.fb-login a {color: #fff !important; text-decoration: none !important}
.fb-login .fab {float: left; color:#fff; font-size: 2em; position: relative; top: -0.13em; left: -0.1em;}


#generator {background-size: contain; background-repeat: no-repeat; background-position: top center;background-image: url(../img/img-44.png)}
#generator .lucky-list {padding:0; margin:0; list-style:none; width:96%; margin:auto;}
#generator .lucky-list li {width: 25%; float:left; display:inline-block;  word-wrap: break-word; margin-bottom:0.5em;}
#generator .lucky-list li .content-panel {width: 96%; margin:auto; background-color:#fff; border:1px solid #02aa4d; border-radius: 0.2em; margin-bottom:0.5em; padding:0;}
#generator .lucky-list li .content-panel .code {font-size: 1.5em; border-left: 0.5em solid #02aa4d; padding-left: 0.5em; margin-bottom:0.5em; margin-top:0.5em;}
#generator .lucky-list li .content-panel .point {font-size: 1em; padding:0.5em;}

#generator .side-panel {width: 20em;}
#generator .side-panel .title {font-size:3em;  color: #02aa4d; line-height: 1.3em; font-weight: bold;}
#generator .side-panel .tag {color: #02aa4d; }
#generator .subsec-02 {margin-top:5em;}
/* responsive */

/* khusus SM 01*/
#winners .content-wrapper {max-width: 100% !important;}

@media screen and (max-width: 1150px){   
    #lucky-draw .lucky-list li {width: 33.33%;}
}


@media screen and (max-width: 1000px){   
    
/*    #how-to-join .item-content-panel {width: 9em;}
    #how-to-join .items li .image-panel {height: 9em; }  
    #how-to-join .subsec-01 img {width:6em; }
    #how-to-join .item-name { font-size: 0.8em}*/
}

 
@media screen and (max-width: 960px){     
    .main-menu > li { margin:0.5em 0.5em 0 0.5em;  }  
    .what-is { background-position: right bottom} 
    
    #lucky-draw {background-size: contain, 20em; background-repeat: no-repeat,no-repeat; background-position: top center, bottom left;background-image: url(../img/img-44.png),url(../img/img-43.png)}
    #lucky-draw .div-table, #lucky-draw .div-table .div-table-row, #lucky-draw .div-table .div-table-col-5 {display:inherit; float:none; width: 100%;} 
    #lucky-draw .lucky-list {margin-top:2em;}
    #lucky-draw .lucky-list li {width: 25%;}
    #lucky-draw .subsec-02 {display:none;}
    #lucky-draw .search-icon {top:1.24em} 
}


@media screen and (max-width: 890px){     
    .header-menu .medsos-panel {display: none}  
 
    #login .form-panel, #forgot-password .form-panel, #registration .form-panel, #resend-activation .form-panel,#profile .form-panel, #upload-receipt .form-panel, 
    #login .subsec-02, #forgot-password .subsec-02, #registration .subsec-02, #resend-activation .subsec-02 , #profile .subsec-02 {float:none; width: 100%; max-width: none }
    
    #upload-receipt .subsec-02 {display: none}
    #upload-receipt .subsec-04 {display: inherit}
    
    #faq .content-panel {padding: 1em}
    #faq .faq-table, #faq .faq-table .div-table-row, #faq .faq-table .div-table-row .div-table-col-5 {display: inherit; width: 100%;}
    #faq .index-panel, #faq .asnwer-panel  {width: 100%; max-width:none;}
    #faq .faq-index {display: none} 
    #faq .faq-detail {margin: 0; padding: 0;}
    #faq .faq-detail > li {display :inherit !important; margin-bottom: 2em} 
    
    #terms-and-conditions .div-table-row > .div-table-col-5:first-child {display: none}
    #terms-and-conditions .title {margin-top: 2em}
    
    .period-sec .period-table li {float: none; width: 100%; margin-top: 2em}
    
}

@media screen and (max-width: 830px){     
    #popup-login .content-panel {  width: 90%; }
    #popup-login .content-panel .img {width:45%}
    #popup-login .content-panel .login-form {width:45%}
    
    #lucky-draw .lucky-list li {width: 33.33%;} 
    
    .see-more .subsec-03 {display: none}
}

@media screen and (max-width: 767px){    
    .hide-mobile{display:none !important}
	.show-mobile{display:initial !important} 
     
    #btn-side-menu {display: inherit} 
    
    .fix-header, .dummy-header {display: none }
    
	.form-default {width:100% !important; margin: auto } 
	.form-default  .btn-primary, #form-cart .btn-primary {width:100% !important} 
     
    .adaptive-table, .adaptive-table tr, .adaptive-table tr td {display: inherit; width: 100%; padding: 0;} 

    .header-sec {padding-top: 2em}
    .header-sec .subsec-01 {width: 20em; height: 8em; bottom: -7em }
    .what-is .subsec-03 {height: 9em; width: 15em;  top: -3em}
    
    .period-sec .subsec-04 {height:20em }
    
    .see-more .video {width: 94%}
    
    .footer {padding: 2em 1em}
    .footer-logo {display: none}
    .footer .menu {margin: auto; float: none}
    
    .content-panel {width:96%}
    
    #popup-login .content-panel .img , #popup-login .content-panel .subsec-01 {display: none} 
    #popup-login .content-panel {padding: 3em 1em; width : 400px;}
    #popup-login .content-panel .login-form {width:96%; float: none; margin: auto} 
    
    #upload-receipt .content-panel, #login .content-panel , #registration .content-panel , #contact-us .content-panel, #profile .content-panel , #resend-activation .content-panel  , #forgot-password .content-panel  , #lucky-draw .content-panel  {padding: 1em}
    #upload-receipt .form-panel,#login .form-panel, #registration .form-panel , #contact-us .form-panel , #profile .form-panel , #resend-activation .form-panel , #forgot-password .form-panel  {float: none; margin: auto; min-width:inherit; margin-top: 2em; width: 98%; padding: 0} 
    
    #contact-us .content-panel{background-image: none; min-height: inherit; height: auto}
    #contact-us .subsec-01 {display: inherit}
    #lucky-draw .lucky-list li {width: 50%;} 
    #lucky-draw .search-voucher {width:100%;}
    
}

@media screen and (max-width: 600px){  
    .content-wrapper {padding: 0 1em}  
    .header-sec .subsec-01 {display: none} 
    .how-to .items li , #how-to-join .items li {width: 50%} 
}


@media screen and (max-width: 500px){     
	.page, .footer .panel {display:none !important}
	.prev-next-page {display:inline !important}
	
    .what-is .subsec-03 {height: 7em; width: 12em;  top: -2em; }
    /*.how-to .items li, #how-to-join .items li {width: 100%; float: none}*/
    
    #popup-login .content-panel { width : 96%;}
   
    .faq-table-sample,.faq-table-sample tbody, .faq-table-sample tr, .faq-table-sample tr td {display:inherit; width: 100% !important; text-align:center;}
    .faq-table-sample tr {margin-bottom:2em}
    
    #lucky-draw .lucky-list li {width: 100%;} 
}

/* iphone */
@media screen and (max-width: 380px){    
    .period-sec .subsec-04 {height:13em;  } 
    .adaptive-table-s, .adaptive-table-s tr, .adaptive-table-s tr td {display: inherit; width: 100%; padding: 0;} 
    .g-recaptcha {transform:scale(0.95);transform-origin:0;-webkit-transform:scale(0.95);transform:scale(0.95);-webkit-transform-origin:0 0;transform-origin:0 0; 0}
}

/* bagian ff */
.period-sec .subsec-03-01 {width: 3em; height: 3em; position: absolute; left: .8em; top: -1.5em; z-index: 2;  background-size: contain ; background-repeat: no-repeat; background-position: left bottom;background-image: url(../img/img-28.png)}
.period-sec .subsec-03-02 {width: 3em; height: 3em; position: absolute; right: .8em; top: -1.5em; z-index: 2;  background-size: contain ; background-repeat: no-repeat; background-position: left bottom;background-image: url(../img/img-28.png)}
.period-sec .subsec-03-03 {width: 3em; height: 3em; position: absolute; left: .8em; bottom: -1.5em; z-index: 2;  background-size: contain ; background-repeat: no-repeat; background-position: left bottom;background-image: url(../img/img-28.png)}
.period-sec .subsec-03-04 {width: 3em; height: 3em; position: absolute; right: .8em; bottom: -1.5em; z-index: 2;  background-size: contain ; background-repeat: no-repeat; background-position: left bottom;background-image: url(../img/img-28.png)}
    /* photo card home index */
.period-sec .subsec-04-1 {margin: auto; width: 50%; height: 12em; background-size: contain ; background-repeat: no-repeat; background-position: center; background-image: url(../img/img-30b-1.png)}
.period-sec .subsec-04-2 {margin: auto; width: 50%; height: 12em; background-size: contain ; background-repeat: no-repeat; background-position: center; background-image: url(../img/img-30b-2.png)}
    /* --------- */

    /* footer */
.footer .footer-logo-ff {width: 20em; height: fit-content; position: absolute; left: 0; top: -0.1em;background-color: white;padding: 1em 2em; border-bottom-right-radius: 3em;}
    /* --------- */
/* -------- */