@media print{
 
.report .data-panel .report-content {display:block;}
.report .data-panel .report-content .report-flex-grow {flex: none; }
.report .data-panel .report-container {  overflow:visible; width: 100%; display: inherit}  
    
.main-table th  {transform: none}
.main-table thead th,.main-table tbody th {transform: translate(0px,0px) !important  } 
.main-table .freeze-pane-border-active {border: 0}
    
.report .hide-on-print { display: none !important;} 
.report .filter-information  {display: inherit !important}
.report .data-panel .main-table {border:0; width:100% !important} 
.report .data-panel .main-table .table-header th {background-color:#fff; border-top:1px solid #333; border-bottom: 1px solid #333; color: #333;}
}
 
@media screen and (max-width: 1200px){    
    .left-menu-col {display: none;} 
} 