{% extends "email-template.html" %} 
{% block content %}
Halo {{CUSTOMER_NAME|raw}},
<br><br>
Saat ini poin kamu belum cukup untuk mendapatkan lucky draw untuk memenangkan Limited Foldable Card Lotte Xylitol x BTS. Ayo kumpulkan 20 poin untuk mendapatkan 1 (satu) nomor tiket lucky draw.
<br><br>
Kumpulkan poinnya dengan cara upload struk pembelian Lotte Xylitol melalui link di bawah ini:
<br>
<b>https://lottexylitolsmile.id/upload-receipt</b>
<br><br>
Program ini berlangsung selama 7 Oktober - 20 November 2022, jadi jangan sampai ketinggalan ya!
<br><br>
Yuk, kumpulkan terus poinmu!
{% endblock %}