{% extends "email-template.html" %} 
{% block content %}
Hi {{ CUSTOMER_NAME|raw }},
<br><br>
Selamat ya registrasi kamu untuk menjadi member SMILE TO SMILE PROJECT telah berhasil.<br>Untuk menyelesaikan proses registrasi silahkan klik link dibawah ini. <br><br>
{{ ACTIVATION_LINK|raw }}
<br><br>
Ayo kumpulkan 60 Poin untuk pembelian Lotte Xylitol apa saja dan upload strukmu untuk mendapatkan LIMITED EDITION MERCHANDISE BTS.<br><br>

<b>Periode SMILE I berhadiah satu set CLEAR HOLDER Lotte Xylitol x BTS.<br>Akan ada 200 pemenang Lucky Draw di akhir periode ini untuk bisa mendapatkannya.</b>
<br><br> 
Terima kasih telah melakukan registrasi. 
{% endblock %}