{% extends "email-template.html" %} 
{% block content %}
Hi {{ CUSTOMER_NAME|raw }},
<!-- <br><br>
Upload Strukmu di tanggal {{ TRANS_DATE|date("d / m / Y") }} telah divalidasi dan dinyatakan <b>GAGAL</b>.<br><br>Alasan struk kamu ditolak adalah karena <b>{{ CANCEL_REASON }}</b>. 
<br><br>
Jangan putus semangat! Coba Upload Strukmu ulang dengan memperbaiki kesalahan kecil itu ya.
<br><br>
Ayo kumpulkan 20 Poin untuk pembelian Lotte Xylitol apa saja dan upload strukmu untuk mendapatkan LIMITED EDITION MERCHANDISE BTS.
<br><br>
<b>Periode SMILE III berhadiah satu set PHOTOCARD Lotte Xylitol x BTS. Akan ada 2000 pemenang Lucky Draw di akhir periode ini untuk bisa mendapatkannya.</b> -->
<br><br>
Terims kasih sudah melakukan pembelian produk Lotte Xylitol dan meng-upload struknya.
<br><br>
Struk yang kamu upload tidak berhasil kami verifikasi. Pastikan foto struk yang kamu upload dapat terbaca dengan jelas dan tidak blur, tertulis pembelian produk Lotte Xylitol, dan tanggal pembelian produknya sesuai dengan periode program di 7 Oktober - 20 November 2022
<br><br>
Ayo upload kembali struk yang sesuai dan kumpulkan poin untuk memenangkan Limited Foldable Card Lotte Xylitol x BT1S!
{% endblock %}