{% extends "email-template.html" %} 
{% block content %}
Hi XyFriends,<br><br>
Hingga tanggal 31 Maret 2022 kamu bisa mendapatkan E-Voucher Alfamart senilai Rp 100.000 TANPA DIUNDI!<br><br>
Caranya dengan beli produk Lotte Xylitol varian apa saja di Alfamart minimal Rp 30.000 dan upload strukmu di <a href="https://www.lottexylitolsmile.id">www.lottexylitolsmile.id</a><br><br>  
Bagi 400 pembeli pertama yang mengupload struknya, kamu akan mendapatkan <b>E-Voucher Alfamart LANGSUNG TANPA DIUNDI</b>. Struk yang berlaku untuk promo E-voucher Alfamart ini untuk periode 14 Maret s.d 31 Maret 2022.<br><br> 
Selain itu, kamu juga akan mendapatkan kesempatan <b>LIMITED EDITION PHOTOCARD BTS</b>.<br><br> 
Periode ini berlaku hingga 31 Maret 2022 dan tidak dipungut biaya apapun.<br>Hati-hati penipuan, pihak Lotte Xylitol tidak pernah meminta biaya.<br><br>
{% endblock %}