{% extends "email-template.html" %} 
{% block content %}
Hi {{ CUSTOMER_NAME|raw }},
<br><br>
Submission Upload Strukmu berhasil dengan kode <b>{{ TRANS_CODE }}</b>.
<br><br>
Tim Validasi akan segera memeriksa keabsahan strukmu. Jika berhasil, poin kamu akan bertambah.<br>
Tapi jika ditolak, jangan putus semangat karena bisa saja hanya karena kesalahan teknis.
<br><br>
<b>Periode SMILE III berhadiah satu set PHOTOCARD Xylitol x BTS. Akan ada 2000 pemenang Lucky Draw di akhir periode ini untuk bisa mendapatkannya.</b>
{% endblock %}