{% extends "email-template.html" %} 
{% block content %}
Hi {{ CUSTOMER_NAME|raw }},
<br><br>
Selamat! Registrasi kamu untuk Smile to Smile Project telah berhasil. Untuk mengaktifkan akunmu silakan klik link di bawah ini:
<br><br>
{{ ACTIVATION_LINK|raw }}
<br><br>
Ayo upload struk pembelian Lotte Xylitol kamu dan kumpulkan 20 poin untuk mendapatkan Limited Foldable Card Lotte Xylitol x BTS.
<br><br>

<b>Program ini berlangsung selama 7 Oktober - 20 November 2022. Jadi, jangan sampai ketinggalan ya!</b>
<br><br> 
Terima kasih telah melakukan registrasi. 
{% endblock %}