{% extends "email-template.html" %} 
{% block content %}
Hi Xy Friends,
<br><br>
Phase 1 pengumpulan poin untuk memenangkan Limited Foldable Card Lotte Xylitol x BTS berakhir pada 10 November 2022.
<br><br>
Ayo kumpulkan lagi poinmu hingga mencapai 20 poin untuk mendapatkan 1 (satu) nomor tiket Lucky Draw untuk memenangkan Limited Foldable Card Lotte Xylitol x BTS.
<br><br>
Kumpulkan poinnya dengan cara upload struk pembelian Lotte Xylitol melalui link di bawah ini:<br>
<a href="https://lottexylitolsmile.id/upload-receipt">https://lottexylitolsmile.id/upload-receipt</a>
<br><br>
Program ini berlangsung selama 17 Oktober - 30 November 2022.<br>
Phase 1: 17 Oktober - 10 November 2022<br>
Phase 2: 11 November - 30 November 2022
<br><br>
Yuk, kumpulkan terus poinmu!
{% endblock %}