{% extends "email-template.html" %} 
{% block content %}
<!-- Hi {{ CUSTOMER_NAME|raw }},
<br><br>
Upload Strukmu di tanggal {{ TRANS_DATE|date("d / m / Y") }} telah divalidasi dan dinyatakan <b>BERHASIL</b>.<br><br>Poin kamu bertambah sebanyak {{ POINT }}. 
<br><br> 
{% if POINT_NEEDED > 0 %}
Ayo kumpulkan <b>{{ POINT_NEEDED }} poin</b> lagi dengan pembelian Lotte Xylitol apa saja dan upload strukmu untuk mendapatkan <b>Limited Edition Merchandise Lotte Xylitol x BTS</b>.
{% else %}
Selamat ! Jumlah poin kamu sudah cukup untuk mengikuti Lucky Draw <b>Limited Edition Merchandise Lotte Xylitol x BTS</b>.
{% endif %}
<br><br>
<b>Periode SMILE III berhadiah satu set PHOTOCARD Lotte Xylitol x BTS. Akan ada 2000 pemenang Lucky Draw di akhir periode ini untuk bisa mendapatkannya.</b> -->
Yeay!
<br><br>
{{ CUSTOMER_NAME|raw }}, kamu sudah berhasil mengumpulkan {{ POINT }} poin dari struk yang sudah kamu upload.
<br><br>
Total poin kamu saat ini adalah {{ TOTAL_POINT }}
<br><br> 
Yuk, terus kumpulkan poinnya! Semakin banyak poin yang dikumpulkan, semakin besar kesempatan kamu memenangkan Limited Foldable Card Lotte Xylitol x BTS.
<br><br>
Program ini berlangsung selama 17 Oktober - 30 November 2022. Jadi, jangan sampai ketinggalan ya!
{% endblock %}
