{% extends "template.html" %}
{% block pagetitle %}{{ title }} | {{ parent() }}{% endblock %} 
{% block content %}   
<div class="subsec-logo-2-ff"></div>
<div class="logo"></div> 
<div class="content-panel">
<div style="clear: both; height: 5em"></div>    
<div class="title">Cara Ikut Lucky Draw</div>   
<div class="div-table" style="text-align: justify;">
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">1</div></div>
        <div class="div-table-col-5">Pastikan kamu melakukan <a href="/registration"><b>registrasi</b></a> dan mendaftar menjadi member di website ini.</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">2</div></div>
        <div class="div-table-col-5">Kumpulkan Poin dengan cara <a href="/upload-receipt"><b>meng-upload struk printing</b></a> sebagai bukti tanda kamu sudah membeli produk Lotte Xylitol.</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">3</div></div>
        <div class="div-table-col-5">Setelah berhasil mengumpulkan 20 poin, kamu akan mendapatkan 1 (satu) nomor tiket <a href="/lucky-draw"><b>Lucky Draw</b></a> untuk memenangkan Foldable Card BTS x Lotte Xylitol. Berlaku kelipatan.</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">4</div></div>
        <div class="div-table-col-5">Apabila kamu berhasil mengumpulkan minimal 40 point, selain mendapatkan nomor tiket untuk Lucky Draw Foldable Card, kamu juga akan mendapatkan 1 (satu) tambahan tiket Lucky Draw untuk memenangkan saldo e-wallet <br> Rp 100.000,- dan tidak berlaku kelipatan.</div>
    </div> 
</div>     
    
<div style="clear: both;height: 2em"></div>   

<div class="product-list">
<div class="subtitle"><div class="subsec-02"></div>Poin Lucky Draw Tiap Produk Lotte Xylitol</div>
    
<ul class="items"> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-06.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Jeruk Nipis Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-04.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Fresh Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-01.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Bluberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-02.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Stroberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-05.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Breezy Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-03.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Jeruk Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-12.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Jeruk Nipis Mint</div>
    </div>
</li>
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-10.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Fresh Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-07.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Bluberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-08.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Stroberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-11.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Breezy Mint</div>
    </div>
</li>   
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-09.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Jeruk Mint</div>
    </div>
</li> 
</ul>    
<ul class="items"> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-16.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Jeruk Nipis Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-15.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Fresh Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-13.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Bluberi Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-14.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Stroberi Mint</div>
        </div>
    </li> 
</ul>

<div style="clear: both;"></div>  
</div>
    
<div style="clear: both; height:2em"></div> 
</div>     
{% endblock %}