{% extends "template.html" %}
{% block pagetitle %}{{ settings.companyName }} | {{ parent() }}{% endblock %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}slick.css">
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}slick-theme.css">
{% endblock %}

{% block CSSInline %}
<style>
    .content-title{border:0} 
    .simple-parallax{opacity:0;position:relative; transition:all ease-out .5s 0s;}
    .simple-parallax-abs{opacity:0; transition:all ease-out .5s 0s;}
    .fade-up{bottom:-50px;}
    .fade-down{top:-50px;}
    .fade-left{left:-50px;}
    .fade-right{right:-50px;}

    .simple-parallax.showing{}
    .fade-in.showing{opacity:1;}
    .fade-up.showing{bottom:0px;opacity:1;}
    .fade-down.showing{top:-0px;opacity:1;}
    .fade-left.showing{left:-0px;opacity:1;}
    .fade-right.showing{right:-0px;opacity:1;} 
    .fade-up-abs.showing{top:0px;opacity:1;}
</style>
{% endblock %} 

{% block JS %}
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}index.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){   
 var opt = new Array();
 opt['loadPopup'] =  {% if loginName is empty %} true {% else %} false {% endif %};
 var index = new Index(opt);
 index.loadOnReady(); 
})
</script>
<script  type="text/javascript"  src='https://www.google.com/recaptcha/api.js'></script>  
{% endblock %}

{% block content %}    
<!-- POPUP -->
<div class="popup-login"> 
</div>
<!--- HEADER -->     
<div>
<div class="header-sec"> 
   <img src="{{ TEMPLATE_IMG_PATH }}img-01.jpg" />  
    <div class="subsec-01"></div>
</div>
    
<!-- WHAT IS --> 
<div class="what-is">  
<div class="content-wrapper" >  
<!--<div class="subsec-01"></div>-->
<div class="subsec-02"></div>
<div class="subsec-03"></div>
<div class="content-panel">
<div class="title">SMILE TO SMILE PROJECT</div>
<br>
Smile to Smile Project merupakan kolaborasi Lotte Xylitol bersama BTS untuk menyebarkan senyuman ke seluruh dunia.<br><br>

Meski sering kali kesulitan datang, tapi akan selalu ada hal yang membuat bahagia. Jadi tersenyumlah dan sebarkan keceriaan pada sekitar.<br><br>

<b>Yuk ikuti project ini dan dapatkan Limited Edition <br> Merchandise Lotte Xylitol x BTS!</b>
</div>    
</div>
</div>
    
<!--- PERIOD -->    
<div class="period-sec">  
<div class="content-wrapper" >    
<div class="subsec-02"></div>
<div class="content-panel">
<div class="title">PERIODE SMILE TO SMILE PROJECT</div>  
<div style="clear: both; height: 2em"></div>
<ul class="period-table">
    <li>
        <div class="subsec-03-01"></div>
        <div class="subsec-03-02"></div>
        <div class="subsec-03-03"></div>
        <div class="subsec-03-04"></div>
        <div class="content-panel"> 
        <div class="subtitle"><b>3 Oktober - 15 November 2022</b></div>
        <div>
            Lakukan registrasi pada Smile to Smile Project, <br> kemudian kumpulkan poin dengan meng-upload struk belanja Lotte Xylitol kamu.
            <br><br>
            Kamu akan mendapatkan 1 (satu) tiket lucky draw untuk memenangkan <br> Limited Foldable Card Lotte Xylitol x BTS tiap mengumpulkan 20 poin. Berlaku kelipatan.
            <br><br>
            Kamu akan mendapat tambahan 1 (satu) tiket lucky draw <br> untuk mendapatkan saldo e-wallet RP 100.000, <br> jika berhasil mengumpulkan 40 poin.
            <br><br>
            Tersedia 500 Foldable Card Lotte Xylitol x BTS <br> yang bisa kamu dapatkan selama periode program-
        </div>
        </div>            
    </li>
</ul>    
<div style="clear: both; height: 4em"></div> 
<div class="subsec-05">1 Set (2 Sisi foldable card sekaligus)</div>
<div class="subsec-04-1"></div>
<div class="subsec-04-2" style="margin-bottom: 5em;"></div>
<div style="clear: both;"></div> 
</div>   
</div>
</div>
    

<!--- HOW TO -->        
<div class="how-to">
<div class="subsec-01"></div>  
<div class="content-panel">
<div class="title">CARA IKUT LUCKY DRAW</div>  
<div class="div-table">
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">1</div></div>
        <div class="div-table-col-5">Pastikan kamu melakukan <a href="/registration"><b>registrasi</b></a> dan mendaftar menjadi member di website ini.</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">2</div></div>
        <div class="div-table-col-5">Kumpulkan Poin dengan cara <a href="/upload-receipt"><b>meng-upload struk printing</b></a> sebagai bukti tanda kamu sudah membeli produk Lotte Xylitol.</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">3</div></div>
        <div class="div-table-col-5">
            Setelah berhasil mengumpulkan 20 poin, kamu akan mendapatkan 1 (satu) nomor <b>tiket Lucky Draw</b> untuk memenangkan Foldable Card BTS x Lotte Xylitol. Berlaku kelipatan. 4.
        </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col-5"><div class="bullets">4</div></div>
        <div class="div-table-col-5">Apabila kamu berhasil mengumpulkan 4O poin. selain mendapat nomor tiket untuk Lucky Draw Foldable Card, kamu juga akan mendapat (satu) tambahan tiket lucky draw untuk memenangkan saldo e-wallet Rp100.000.</div>
    </div> 
</div>     
    
<div style="clear: both;height: 2em"></div>   

<div class="product-list">
<div class="subtitle"><div class="subsec-02"></div>Poin Lucky Draw Tiap Produk Lotte Xylitol</div>
    
<ul class="items"> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-06.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Jeruk Nipis Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-04.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Fresh Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-01.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Bluberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-02.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Stroberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-05.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Breezy Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-03.png')"></div>
    <div class="desc-01">10 poin</div>
    <div class="desc-02">Handy Bottle 58gr</div>
    <div class="desc-03">Rasa Jeruk Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-12.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Jeruk Nipis Mint</div>
    </div>
</li>
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-10.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Fresh Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-07.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Bluberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-08.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Stroberi Mint</div>
    </div>
</li> 
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-11.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Breezy Mint</div>
    </div>
</li>   
<li>
    <div class="content-panel">
    <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-09.png')"></div>
    <div class="desc-01">5 poin</div>
    <div class="desc-02">Mini Bottle 27.55gr</div>
    <div class="desc-03">Rasa Jeruk Mint</div>
    </div>
</li> 
</ul>    
<ul class="items"> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-16.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Jeruk Nipis Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-15.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Fresh Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-13.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Bluberi Mint</div>
        </div>
    </li> 
    <li class="col-2">
        <div class="content-panel">
        <div class="image" style="background-image:url('{{ TEMPLATE_IMG_PATH }}item-14.png')"></div>
        <div class="desc-01">2 poin</div>
        <div class="desc-02">Blister 11.6gr</div>
        <div class="desc-03">Rasa Stroberi Mint</div>
        </div>
    </li> 
</ul>
    
<div style="clear: both;"></div>  
</div>
    
<div style="clear: both;"></div>    
</div>    
</div>    
    
<!-- MORE --> 
<div class="see-more"> 
<!-- <div class="subsec-01"></div>   -->
<div class="content-panel">
<div class="video">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/RcmKM69GTMQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>    
<div style="clear: both; height: 1em"></div>     
</div>
<div class="subsec-02"></div>
</div>
        
</div>
{% endblock %}
 
{% block contactusfooter %}    
{{ parent() }}  
{% endblock %}
{% block dfLoadFiles %} 
    ["{{ TEMPLATE_JS_PATH }}slick.min.js"],
{% endblock %}