{% extends "template.html" %}
{% block pagetitle %}{{ LANG.login }} | {{ parent() }}{% endblock %}
{% block JS %}
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}login.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){  
 var opt = new Array();    
 var errMsg = new Array();     
 errMsg['username'] = {{ ERRORMSG.username|json_encode()|raw }}; 
 errMsg['password'] = {{ ERRORMSG.password|json_encode()|raw }}; 
 opt['errMsg'] = errMsg;
 var login = new Login(opt);
 login.loadOnReady(); 
})
</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>

{% endblock %}

{% block content %}
<div class="content-panel-parent">
<div class="content-panel">   
<div class="form-panel-parent">
<div class="form-panel-ff"> 
<div class="subsec-logo-ff"></div>
<div class="title-ff">Login</div>
<form id="form-login" method="post" class="form-horizontal form-default prevent-form-submit label-style" action="/ajax-member.php">
{{ inputHidAction|raw }}
<div class="notification-msg"></div>
<div style="clear:both;height:1em"></div>
<div class="form-group"> 
<div class="col-lg-12">
{{ inputUserNamePlaceholder|raw }}
</div>
</div>
<div class="form-group"> 
<div class="col-lg-12">
{{ inputPasswordPlaceholder|raw }}
</div>
</div>
<div class="form-group"> 
<div class="col-lg-12">
    <div style="float:right">atau <a href="/registration" style="left: 15rem;">registrasi d isini</a></div>
</div>
</div>
<div class="form-group"> 
<div class="col-lg-12">
{{ btnSubmit|raw }}
</div>
</div> 
<div style="clear: both; height: 1px; background-color: #999; margin :1em 0 0.5em 0"></div> 
{{ btnGoogle|raw }} 
<div class="fb-login" style="margin-top:0.3em"><a href="{{ fbLoginLink|raw }}"> <div><i class="fab fa-facebook-square"></i> Lanjutkan dengan Facebook</div></a> </div>
</form>
</div>
<!-- <div class="subsec-02"><img src="{{ TEMPLATE_IMG_PATH }}img-18.png"></div> -->
<div class="subsec-02-ff"><img src="{{ TEMPLATE_IMG_PATH }}login-registration-image.webp"></div>
<div style="clear: both; height: 2em"></div>
</div>
</div>
</div>
{% endblock %}